.wrapper {
  background-color: #fafafa; }

a {
  text-decoration: none; }

.header-top-nav {
  background-color: #e20202; }

.top-nav-list {
  margin: 0; }
  .top-nav-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0; }
  .top-nav-list ul li {
    list-style-type: none;
    padding: 0 1px; }
    .top-nav-list ul li a {
      text-decoration: none; }
      .top-nav-list ul li a .fa {
        width: 32px;
        max-width: 32px;
        height: 31px;
        font-weight: 400;
        vertical-align: middle;
        text-align: center;
        background-color: #fff;
        border-radius: 100%;
        font-size: 24px;
        padding-top: 3px; }
      .top-nav-list ul li a .fa-facebook {
        color: #4267b2; }
      .top-nav-list ul li a .fa-twitter {
        color: #38a1f3; }
      .top-nav-list ul li a .fa-linkedin {
        color: #0077b5; }
      .top-nav-list ul li a .fa-pinterest-p {
        color: #e60023; }
      .top-nav-list ul li a:hover {
        opacity: 0.7; }

.top-nav-search {
  padding: 3px 0 0 0;
  float: right;
  margin: 0; }
  .top-nav-search input {
    border-radius: 5px;
    border: none;
    padding-right: 20px;
    padding-left: 3px;
    height: 25px; }
  .top-nav-search .top-nav-search-btn {
    margin-right: 10px;
    position: absolute;
    top: 6px;
    right: 8px; }
  .top-nav-search a:active {
    color: #a3a3a3; }

.header-mnu-logo {
  min-height: 83px; }
  .header-mnu-logo .header-mnu-log {
    width: 85px;
    position: absolute; }
  .header-mnu-logo .header-mnu-logo-gerb {
    right: -20px;
    top: 5px;
    position: absolute;
    width: 75px; }
  .header-mnu-logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 21px;
    padding-left: 80px;
    padding-top: 6px;
    color: #2b78ab; }

.header-mnu {
  background-color: #fafafa; }

.header-mnu-list {
  position: absolute;
  padding-top: 30px; }
  .header-mnu-list ul {
    margin: 0;
    list-style-type: none; }
  .header-mnu-list ul > li {
    display: inline;
    padding-right: 10px;
    text-transform: uppercase; }
    .header-mnu-list ul > li a {
      text-decoration: none;
      color: #2b78ab; }
      .header-mnu-list ul > li a:hover {
        text-decoration: underline; }
      .header-mnu-list ul > li a:active {
        text-decoration: underline;
        color: #2b78ab; }

.header-mnu-lng {
  padding-top: 30px; }
  .header-mnu-lng ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .header-mnu-lng ul > li {
    display: inline; }
  .header-mnu-lng img {
    width: 30px;
    max-width: 30px; }
  .header-mnu-lng a:hover {
    opacity: 0.7; }

.header-mnu-carousel-container {
  position: relative; }

.header-mnu-carousel-container-item img {
  max-width: 100%; }

.header-mnu-carousel-container-item p {
  position: relative;
  top: -100px;
  color: #fff;
  margin: 10px; }

.next_button,
.prev_button {
  color: #fff;
  width: 50px;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  top: 40%;
  z-index: 1; }
  .next_button .fa,
  .prev_button .fa {
    border-radius: 100%;
    font-size: 40px;
    background-color: #2d77a8;
    width: 42px;
    max-width: 40px;
    height: 39px;
    padding-left: 12px; }

.next_button {
  right: 30px;
  padding: 0 5px; }

.prev_button {
  left: 30px;
  padding: 0 10px; }

.info-graphics {
  margin-top: 20px; }
  .info-graphics .info-graphics-item {
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    padding: 20px 0 20px 0;
    max-width: 330px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #feffff;
    height: 100%;
    border: 1px solid #ccc;
    background: #fff; }
    .info-graphics .info-graphics-item p {
      width: 300px;
      text-align: center;
      margin: auto; }
    .info-graphics .info-graphics-item .fa {
      font-size: 90px; }
    .info-graphics .info-graphics-item:hover {
      -webkit-box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
      box-shadow: 0 0 15px rgba(33, 33, 33, 0.2); }
  .info-graphics .info-graphics-blue {
    background-color: #3872a0; }
  .info-graphics .info-graphics-red {
    background-color: #e76867; }
  .info-graphics .info-graphics-green {
    background-color: #4fc99a; }

.news .news-title {
  text-align: center; }
  .news .news-title h1 {
    color: #2b78ab; }
    .news .news-title h1:before {
      content: "";
      position: absolute;
      height: 20px;
      border-top: 25px solid #e20202;
      top: 27px;
      width: 5px;
      margin-left: -10px; }

.news .news-item {
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  max-width: 225px;
  margin-bottom: 15px;
  margin: auto; }
  .news .news-item:hover {
    -webkit-box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.2); }
  .news .news-item img {
    min-width: 225px;
    width: 100%; }
  .news .news-item .news-item-content {
    max-width: 228px;
    margin: auto;
    padding: 0 20px 20px; }
    .news .news-item .news-item-content h3 {
      font-size: 15px; }
    .news .news-item .news-item-content p {
      font-size: 14px;
      color: gray; }
    .news .news-item .news-item-content a {
      color: #e20202;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px; }
      .news .news-item .news-item-content a:active {
        color: #e20202; }
      .news .news-item .news-item-content a:hover {
        color: #660b22;
        text-decoration: underline; }

.news .news-breadcrumbs {
  padding: 15px 0; }
  .news .news-breadcrumbs ul {
    border-radius: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #dcdedd;
    width: 400px;
    padding: 10px 0;
    margin: auto;
    text-align: center; }
    .news .news-breadcrumbs ul li {
      display: inline;
      padding: 0 5px; }
      .news .news-breadcrumbs ul li a {
        text-decoration: none;
        color: #2b78ab;
        font-size: 18px; }
        .news .news-breadcrumbs ul li a:hover {
          text-decoration: underline; }
        .news .news-breadcrumbs ul li a .fa:hover {
          text-decoration: underline; }

.subscribe .subscribe-item {
  text-align: center;
  margin: auto;
  padding: 50px 0;
  background-color: #e20202;
  border-radius: 10px; }
  .subscribe .subscribe-item .enteremail {
    width: 500px;
    height: 31px;
    padding-left: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -4px; }
  .subscribe .subscribe-item .submitemail {
    height: 31px;
    width: 190px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2b78ab;
    text-transform: uppercase;
    color: #fafafa;
    cursor: pointer; }
    .subscribe .subscribe-item .submitemail:hover {
      background-color: #28588a; }
  .subscribe .subscribe-item .fa {
    position: absolute;
    border-top-left-radius: 10px;
    font-size: 35px;
    margin-left: 4px;
    margin-top: -3.4px;
    color: #2b78ab; }

.video-info {
  padding: 30px 10px 10px;
  margin: auto; }
  .video-info .video-info-theme {
    position: absolute; }
    .video-info .video-info-theme h2 {
      margin: 0;
      padding: 0;
      color: #2b78ab; }
      .video-info .video-info-theme h2:before {
        content: "";
        position: absolute;
        height: 20px;
        border-top: 50px solid #e20202;
        top: 4px;
        width: 5px;
        margin-left: -10px; }

.other .other-title {
  text-align: center; }
  .other .other-title h1 {
    color: #2b78ab; }
    .other .other-title h1:before {
      content: "";
      position: absolute;
      height: 20px;
      border-top: 25px solid #e20202;
      top: 29px;
      width: 5px;
      margin-left: -10px; }

.other-links .other-links-container {
  position: relative; }
  .other-links .other-links-container .other-next_button,
  .other-links .other-links-container .other-prev_button {
    margin-top: -20px;
    color: #fff;
    width: 50px;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    top: 40%;
    z-index: 1; }
    .other-links .other-links-container .other-next_button .fa,
    .other-links .other-links-container .other-prev_button .fa {
      border-radius: 100%;
      font-size: 60px;
      width: 42px;
      max-width: 40px;
      height: 39px;
      padding-left: 12px; }
  .other-links .other-links-container .other-next_button {
    right: 5px;
    padding: 0 4px; }

.other-links .other-links-container-item {
  width: 270px; }
  .other-links .other-links-container-item img {
    max-width: 100%; }

.other-links .other-links-container-item p {
  position: relative;
  top: -100px;
  color: #fff; }

.footer {
  background-color: #e20202; }
  .footer .footer-content-item, .footer .footer-content-copyrignh {
    margin: 0;
    color: #fafafa;
    padding: 20px 0; }
    .footer .footer-content-item p, .footer .footer-content-copyrignh p {
      padding: 0;
      margin: 0; }
  .footer .footer-content-copyrignh {
    color: #fafafa;
    float: right;
    height: 100%; }
